<div fxLayout="row" fxLayoutAlign="center center" style="width: 60%;height: 80%;">
    <div fxLayout="column" fxLayoutAlign="center center" style="width: 35%">
        <mat-form-field style="width: 100%" appearance="outline">
            <mat-icon matPrefix>search</mat-icon>
            <input matInput placeholder="Search by ID, name, address..." [formControl]="control" [appAutocomplete]="autocomplete">
        </mat-form-field>

        <app-auto-complete #autocomplete="appAutocomplete" >
            <ng-template appAutocompleteContent>
                <ng-container *ngIf="(options | filter: control.value) as result">
                    <app-option *ngFor="let option of result" [value]="option.name">
                        {{ option.name }}
                    </app-option>
                    <app-option *ngIf="!result.length">No result...</app-option>
                </ng-container>
            </ng-template>
        </app-auto-complete>
    </div>
</div>